/** ESTILOS CORRESPONDIENTES AL FICHERO aviso-legal.html */
h2 {
    font-size: 1.8rem;
    color: #0B172F;
    border-bottom: 0.2rem solid #0B172F;
    padding-bottom: 1rem;
    margin-top: 0.8rem;
}

h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #0B172F;
}

.main__section {
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    text-align: center;
}

p {
    font-size: 1rem;
    margin-bottom: 0rem;
}

.main__list {
    list-style: none;
    padding-left: 0;
}

.main__list-item {
    background: #f4f4f4;
    padding: 0.7rem;
    margin: 0.5rem auto;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.main__list-item strong {
    color: #0056b3;
    margin-right: 1rem;
}

@media (max-width: 1000px) {
    .main__list-item {
        background: #f4f4f4;
        padding: 0.7rem;
        margin: 0.5rem 0;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .main__list-item {
        flex-direction: column;
    }
}

