/** ESTILOS CORRESPONDIENTES AL FICHERO contacto.html */
main {
  transition: filter 0.3s ease-in-out;
}

.contacto__formulario {
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
  text-align: center;
  width: 75%;
}

#message-response {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 60%;
  text-align: center;
}

#message-response li {
    list-style: none;
    margin-top: 0.3rem;
}

.close-btn {
  position: absolute;
  top: 0rem;
  right: 0.5rem;
  padding: 0rem;
  font-size: 1.7rem;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .contacto__formulario {
    width: 95%;
  }

  #message-response {
    width: 95%;
  }
}
