/* ESTILOS CORRESPONDIENTES AL FICHERO mercados.html */
.mercados__toggle-container {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

/* ESTILOS PARA LAS CRYPTOMONEDAS */
.mercados__crypto {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.mercados__title {
  font-weight: bold;
  margin-bottom: 1.25rem;
  text-align: center;
}

.mercados__actualizacion{
  text-align: center;
}

/* Estilos de la tabla */
.mercados__table-container {
  width: 100%;
  overflow-x: auto;
}

.mercados__table {
  width: 100%;
  border-collapse: collapse;
}

/* Cabecera de la tabla */
.mercados__table-header,
.mercados__table th {
  padding: 0.5rem;
  font-weight: bold;
  background-color: #f4f4f4;
}

/* Filas y celdas */
.mercados__table-row {
  border-bottom: 0.1rem solid #ddd;
}

.mercados__table-row:hover {
  background-color: #f4f4f4;
}

.mercados__table-cell {
  padding: 1rem;
}

/* Estilos del logo */
.mercados__table-logo {
  width: 1.5rem;
  height: 1.5rem;
}

/* Cambia el color del porcentaje según sea positivo o negativo */
.mercados__table-change--positive {
  color: green;
}

.mercados__table-change--negative {
  color: red;
}

/* ESTILOS PARA LAS DIVISAS */
/* Ocultar la sección de divisas por defecto */
.mercados__section--hidden {
  display: none;
}

/* Contenedor de las tablas de divisas */
.mercados__divisas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  text-align: center;
}

/* Cada tabla ocupa la mitad del ancho en pantallas grandes */
.mercados__divisas-table {
  flex: 1;
  min-width: 10rem;
  max-width: 30rem;
  text-align: center;
}

.mercados__divisas-table h3 {
  text-align: center;
}

.mercados__table th,
.mercados__table td {
  text-align: center;
  padding: 0.6rem;
}

/* Diseño responsivo */
@media (max-width: 1000px) {
  .mercados__divisas-container {
    flex-direction: column;
    align-items: center;
  }

  .mercados__divisas-table {
    width: 90%;
  }
}
