/** ESTILOS CORRESPONDIENTES AL FICHERO mercados.html */
/* <main> personalizado para evitar el scroll en la tabla de cryptos*/
.mercados {
  max-width: 75%;
}
.mercados__toggle {
  margin: 0;
  padding: 0;
}
.mercados__toggle-container {
  display: block;
  text-align: center;
}

/* ESTILOS PARA LAS CRYPTOMONEDAS */
.mercados__crypto {
  width: 100%;
  max-width: 85rem;
  margin: 0 auto;
}

.mercados__actualizacion {
  text-align: center;
}

/* Estilos de la tabla */
.mercados__table-container {
  width: 100%;
  overflow-x: auto;
}

.mercados__table {
  width: 100%;
  border-collapse: collapse;
}

/* Cabecera de la tabla */
.mercados__table-header,
.mercados__table th {
  padding: 0.5rem;
  font-weight: bold;
  background-color: #f4f4f4;
}

/* Filas y celdas */
.mercados__table-row {
  border-bottom: 0.1rem solid #ddd;
}

.mercados__table-row:hover {
  background-color: #f4f4f4;
}

.mercados__table-cell {
  padding: 1rem;
}

/* ESTILOS PARA LAS DIVISAS */
/* Ocultar la sección de divisas por defecto */
.mercados__section--hidden {
  display: none;
}

/* Contenedor de las tablas de divisas */
.mercados__divisas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  text-align: center;
}

/* Cada tabla ocupa la mitad del ancho en pantallas grandes */
.mercados__divisas-table {
  flex: 1;
  min-width: 10rem;
  max-width: 30rem;
  text-align: center;
}

.mercados__divisas-table h3 {
  text-align: center;
}

.mercados__table th,
.mercados__table td {
  text-align: center;
  padding: 0.6rem;
}

/* Diseño responsivo */
@media (max-width: 1000px) {
  .mercados {
    max-width: 98%;
  }

  .mercados__divisas-container {
    flex-direction: column;
    align-items: center;
  }

  .mercados__divisas-table {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .gridjs-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6rem;
  }
  .gridjs-pages {
    font-size: 0.8rem;
  }
}
