/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: auto;
}

main {
    background: #fff;
    border-radius: 0.5rem;
    max-width: 70%;
    margin: 5rem auto auto auto;
    padding: 2rem;
}

section {
  text-align: center;
  padding: 2rem 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 999;
}

.header__logo {
  height: 4rem;
}

.header__select {
  display: none;
  text-align: center;
}

.header__nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.header__menu {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header__menu-item {
  display: inline-block;
  color: #0B172F;

}

.header__menu-link {
  text-decoration: none;
  font-weight: bold;
  color: #0B172F;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.header__menu-link:hover {
  text-decoration: underline black;
  transition: color 0.3s ease;
}

footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1.5rem;
  background: #0B172F;
  color: white;
  align-items: center;
}

.footer__text {
  margin: 0;
  padding: 0
}

.title__section {
  font-weight: bold;
  margin-bottom: 1.25rem;
  text-align: center;
}

@media (max-width: 1000px) {
    main {
        background: #fff;
        border-radius: 0.5rem;
        max-width: 100%;
        margin: 5rem auto auto auto;
        padding: 2rem 0.1rem;
        text-align: center;
    }
  .header__nav {
    display: none;
  }

  .header__select {
    display: block;
    width: 10rem;
  }
}
